<div class="container my-4">
  <h1>Add new list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "List Name" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-outline-success" %>
  <% end %>

  <br>

  <%= link_to "Cancel", root_path, class: "btn btn-outline-secondary" %>
</div>
